{% layout 'layout.liquid' %}
{% block content %}
    <div>
        <h2 class="display-6">All Students</h2>
        <div class="row">
            {% for student in students %}
                <div class="card">
                    <h5 class="card-header">{{student.name}}</h5>
                    <div class="card-body">
                        <h5 class="card-title">
                        House: {{student.house}} 
                        </h5>
                        <h5 class="card-title">
                          Elements: {{student.elements}}
                        </h5>
                                
                        <p class="card-text">{{student.name}} is a {{student.zodiacSign}}. They belong to the {{student.order}} order.</p> 
                        <a class="btn btn-info" href="/characters/{{student.id}}">
                            View {{student.name}}
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}